/* Fiche personnage crée par Maldragan  */
/*             en Juin 2020             */
/* modification juillet : ajout Pages   */

*, ::before, ::after {
    box-sizing: border-box;
}

.sheet-copy{
    font-style: italic; 
    font-size: 10px;
    color:#808080;
    margin-left:15px;
}


.sheet-character input[type="text"]{
    position: absolute!important;
    border:0px solid;
    background-color=transparent!important;
    padding:0px;
    margin-left:-20px;
    margin-top:-19px;
   /*margin-top:63px;*/
}

.sheet-character select{
    position: absolute!important;
    background-color=transparent;
    cursor: pointer;
    padding:0px;
    margin-left:-27px;
    margin-top:-19px;
    /*margin-top:63px;*/
}

.sheet-character textarea,input[type="textarea"]{
    position: absolute!important;
    border:0px solid;
    background-color=transparent!important;
    padding:0px;
    margin-left:-20px;
    margin-top:-19px;
    overflow: auto;
    resize: none;
    vertical-align:top;
    
}

/*Configure the tab buttons*/
.sheet-character,
.sheet-pages {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="pages"] ~ div.sheet-pages {
	display: block;
}

.sheet-selectCours select{
    left: 95px!important ;
    width: 15px ;
    height: 18px ; 
    border:0px #000;
}
.sheet-EpoqueSelect select {
    
    width: 15px ;
    height: 18px ; 
    border:0px #000;
}
.sheet-container{
    background-image: url("https://raw.githubusercontent.com/maldragan/Roll20-FR-JeSuisUnSorcier/master/fiche.jpg");
    background-attachment: local;
    width:803px;
    min-width=803px;
    height: 1100px;
    min-height:1100px;
    background-size: contain;
    font-size:12px!important;
    background-repeat: no-repeat;
    
    position: absolute!important;
    /*background-color: #F0FFFF;*/
}

.sheet-styled-input-single {
    position: relative;
    padding: 0px 0px 0px 10px;
    margin-left:34px;
    text-align: center;
  }
  .sheet-styled-input-single label {
    cursor: pointer;
  }
  .sheet-styled-input-single label:before, .sheet-styled-input-single label:after {
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
  }
  .sheet-styled-input-single label:before {
   /* left: 0;*/
    width: 16px;
    height: 16px;
    margin: -20px 0 0;
    background: transparent;
    /*box-shadow: 0 0 1px black;*/
  }
  .sheet-styled-input-single label:after {
   /* left: 5px;*/
    width: 17px;
    height: 17px;
    margin: -20px 0 0;
    opacity: 0;
    background: #000;
    -webkit-transform: translate3d(-40px, 0, 0) scale(0.5);
            transform: translate3d(-40px, 0, 0) scale(0.5);
    -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }
  .sheet-styled-input-single input[type="radio"],
  .sheet-styled-input-single input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    /*visibility: hidden;*/
  }
  .sheet-styled-input-single input[type="radio"]:checked + label:after,
  .sheet-styled-input-single input[type="checkbox"]:checked + label:after {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  
  .sheet-styled-input-single2 {
    position: relative;
    padding: 0px 0px 0px 10px;
    margin-left:34px;
    text-align: center;
  }
  .sheet-styled-input-single2 label {
    cursor: pointer;
  }
  .sheet-styled-input-single2 label:before, .sheet-styled-input-single2 label:after {
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
  }
  .sheet-styled-input-single2 label:before {
   /* left: 0;*/
    width: 52px;
    height: 52px;
    margin: -20px 0 0;
    background: transparent;
    /*box-shadow: 0 0 1px black;*/
  }
  .sheet-styled-input-single2 label:after {
   /* left: 5px;*/
    width: 52px;
    height: 52px;
    margin: -20px 0 0;
    opacity: 0;
    background:rgba(100, 149, 237,0.5);
    -webkit-transform: translate3d(-40px, 0, 0) scale(0.5);
            transform: translate3d(-40px, 0, 0) scale(0.5);
    -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }
  
  
  .sheet-styled-input-single2 input[type="radio"],
  .sheet-styled-input-single2 input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    /*visibility: hidden;*/
  }
  .sheet-styled-input-single2 input[type="radio"]:checked + label:after,
  .sheet-styled-input-single2 input[type="checkbox"]:checked + label:after {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  
  .sheet-styled-input-single3 {
    position: relative;
    padding: 0px 0px 0px 10px;
    margin-left:34px;
    text-align: center;
  }
  .sheet-styled-input-single3 label {
    cursor: pointer;
  }
  .sheet-styled-input-single3 label:before, .sheet-styled-input-single3 label:after {
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
  }
  .sheet-styled-input-single3 label:before {
   /* left: 0;*/
    width: 52px;
    height: 52px;
    margin: -20px 0 0;
    background: transparent;
    /*box-shadow: 0 0 1px black;*/
  }
  .sheet-styled-input-single3 label:after {
   /* left: 5px;*/
    width: 52px;
    height: 52px;
    margin: -20px 0 0;
    opacity: 0;
    background:rgba(255, 255, 102,0.5);
    -webkit-transform: translate3d(-40px, 0, 0) scale(0.5);
            transform: translate3d(-40px, 0, 0) scale(0.5);
    -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }
  
  
  .sheet-styled-input-single3 input[type="radio"],
  .sheet-styled-input-single3 input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    /*visibility: hidden;*/
  }
  .sheet-styled-input-single3 input[type="radio"]:checked + label:after,
  .sheet-styled-input-single3 input[type="checkbox"]:checked + label:after {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }


.sheet-styled-input-single4 {
    position: relative;
    padding: 0px 0px 0px 10px;
    margin-left:34px;
    text-align: center;
  }
  .sheet-styled-input-single4 label {
    cursor: pointer;
  }
  .sheet-styled-input-single4 label:before, .sheet-styled-input-single4 label:after {
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
  }
  .sheet-styled-input-single4 label:before {
   /* left: 0;*/
    width: 9px;
    height:9px;
    margin: -20px 0 0;
    background: transparent;
   /* box-shadow: 0 0 1px black;*/
  }
  .sheet-styled-input-single4 label:after {
   /* left: 5px;*/
    width: 10px;
    height: 10px;
    margin: -20px 0 0;
    opacity: 0;
    background:black;
    -webkit-transform: translate3d(-40px, 0, 0) scale(0.5);
            transform: translate3d(-40px, 0, 0) scale(0.5);
    -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }
  
  
  .sheet-styled-input-single4 input[type="radio"],
  .sheet-styled-input-single4 input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    /*visibility: hidden;*/
  }
  .sheet-styled-input-single4 input[type="radio"]:checked + label:after,
  .sheet-styled-input-single4 input[type="checkbox"]:checked + label:after {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  
  .sheet-styled-input-single5 {
    position: relative;
    padding: 0px 0px 0px 10px;
    margin-left:34px;
    text-align: center;
  }
  .sheet-styled-input-single5 label {
    cursor: pointer;
  }
  .sheet-styled-input-single5 label:before, .sheet-styled-input-single5 label:after {
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
  }
  .sheet-styled-input-single5 label:before {
   /* left: 0;*/
    width: 57px;
    height:57px;
    margin: -20px 0 0;
    background: transparent;
   /* box-shadow: 0 0 1px black;*/
  }
  .sheet-styled-input-single5 label:after {
   /* left: 5px;*/
    width: 57px;
    height: 57px;
    margin: -20px 0 0;
    opacity: 0;
    background:rgba(100, 149, 237,0.5);;
    -webkit-transform: translate3d(-40px, 0, 0) scale(0.5);
            transform: translate3d(-40px, 0, 0) scale(0.5);
    -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }
  
  
  .sheet-styled-input-single5 input[type="radio"],
  .sheet-styled-input-single5 input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    /*visibility: hidden;*/
  }
  .sheet-styled-input-single5 input[type="radio"]:checked + label:after,
  .sheet-styled-input-single5 input[type="checkbox"]:checked + label:after {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  
  .sheet-styled-input--square label:before, .sheet-styled-input--square label:after {
    border-radius: 0;
  }
  
  .sheet-styled-input--rounded label:before {
    border-radius: 38px;
  }
  .sheet-styled-input--rounded label:after {
    border-radius: 38px;
  }
  
  .sheet-styled-input--diamond .sheet-styled-input-single {
    padding-left: 45px;
  }
  .sheet-styled-input--diamond label:before, .sheet-styled-input--diamond label:after {
    border-radius: 0;
  }
  .sheet-styled-input--diamond label:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .sheet-styled-input--diamond input[type="radio"]:checked + label:after,
  .sheet-styled-input--diamond input[type="checkbox"]:checked + label:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 1;
  }
  
/* styling combo Maison */

  .sheet-select-sim {
    width:130px;
    height:160px;
    line-height:22px;
    vertical-align:middle;
    position:relative;
    background:transparent;
    border:0px solid #ccc;
    overflow:hidden;
    text-align: center;
  }
  

  
  .sheet-select-sim:hover::after {
    content:"";
  }
  
  .sheet-select-sim:hover {
    overflow:visible;
  }
  
  .sheet-select-sim:hover .sheet-options .sheet-option label {
    display:inline-block;
    text-align: left;
  }
  .sheet-select-sim:hover .sheet-options .sheet-option img {
    display:none;
  }
  .sheet-select-sim:hover .sheet-options {
    background:#fff;
    border:1px solid #ccc;
    position:absolute;
    top:-1px;
    left:-1px;
    width:100%;
    height:112px;
    margin-top:30px;
    overflow-y:scroll;
  }
  
  .sheet-select-sim .sheet-options .sheet-option {
    overflow:hidden;
  }
  
  .sheet-select-sim:hover .sheet-options .sheet-option {
    height:22px;
    overflow:hidden;
  }
  
  .sheet-select-sim .sheet-options .sheet-option img {
    vertical-align:middle;
    width:150px
  }
  
  .sheet-select-sim .sheet-options .sheet-option label {
    display:none;
  }
  
  .sheet-select-sim .sheet-options .sheet-option input {
    width:0;
    height:0;
    overflow:hidden;
    margin:0;
    padding:0;
    float: left;
    display:inline-block;
    /* fix specific for Firefox */
    position: absolute;
    left: -10000px;
  }
  
  .sheet-select-sim .sheet-options .sheet-option input:checked + label {
    display:block;
    width:100%;
    text-align:center;
  }
 
  
  .sheet-select-sim:hover .sheet-options .sheet-option input + label {
    display:block;
  }
  
  .sheet-select-sim:hover .sheet-options .sheet-option input:checked + label {
    background:#7ac78d;
  }
  
/* ------- Pages ------- */

.sheet-section {
    padding: 5px;
    border-style: solid;
    margin: 5px;
    background-color:transparent;
    border-radius: 5px;
    min-height:200px;
}

.sheet-section .sheet-label{
    font-weight: bold;
}

.sheet-flex-row {
  display: flex;
  flex-direction: row;
  flex-grow:1;
}

.sheet-flex-col {
  display: flex;
  flex-direction: column;
  flex-grow:1;
}

.sheet-pages input{
    width:100%;
}

.sheet-pages select{
    width:100%;
}

.sheet-pages textarea{
    width:100%;
}

.sheet-detail-ligne{
     border-top:1px solid black;
}

.sheet-detail-cons{
    display:grid;
    grid-template-columns: 2fr 5fr 1fr ;
    grid-template-rows: 1fr;
    grid-template-areas:
    "cons-nom cons-desc cons-gravite";
    margin-top:2px;
}


.sheet-cons-nom{
    grid-area:cons-nom;
}

.sheet-cons-desc{
    grid-area:cons-desc;
}

.sheet-cons-gravite{
    grid-area:cons-gravite;
}


.sheet-detail-baguettes{
    display:grid;
    grid-template-columns: 3fr 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "baguettes-bois baguettes-coeur baguettes-taille baguettes-createur";
    margin-top:2px;
}


.sheet-baguettes-bois{
    grid-area:baguettes-bois;
}

.sheet-baguettes-coeur{
    grid-area:baguettes-coeur;
}

.sheet-baguettes-taille{
    grid-area:baguettes-taille;
}
.sheet-baguettes-createur{
    grid-area:baguettes-createur;
}

.sheet-detail-amis{
    display:grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "amis-nom amis-Trait1 amis-Trait2 amis-Trait3 amis-Maison";
}


.sheet-amis-nom{
    grid-area:amis-nom;
}

.sheet-amis-Trait1{
    grid-area:amis-Trait1;
}

.sheet-amis-Trait2{
    grid-area:amis-Trait2;
}
.sheet-amis-Trait3{
    grid-area:amis-Trait3;
}
.sheet-amis-Maison{
    grid-area:amis-Maison;
}

.sheet-detail-livres{
    display:grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "livres-nom livres-Desc";
}


.sheet-livres-nom{
    grid-area:livres-nom;
}

.sheet-livres-Desc{
    grid-area:livres-Desc;
}
